@import "tailwindcss";

body, html, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden; /* Ẩn thanh cuộn của trình duyệt gốc để dùng thanh cuộn của Layout */
}

/* 2. Đảm bảo font chữ đẹp */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}